{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="text-center">Ravim: {{ drug.ravimi_nimetus }}</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Kirjeldus</th>
                                <th>Hind</th>
                                <th>Mõjuaine</th>
                                <th>Tootja</th>
                                <th>Tarnija</th>
                                <th>Seisund</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ drug.ravimi_kirjeldus }}</td>
                                <td>{{ drug.ravimi_hind }} &euro;</td>
                                <td>{{ drug.ravimi_mojuaine }}</td>
                                <td>{{ drug.ravimi_tootja }}</td>
                                <td>{{ drug.ravimi_tarnija }}</td>
                                <td>{{ drug.ravimi_seisund }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    {% crispy form %}
                    <a href="/drug" class="btn btn-danger back">Tagasi</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
